.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR8upe0DwFRudYIHRPlTidABG8FgqDsJLv15YxgLPP7ztdMdDw-');
  height: 400px;
  background-repeat: no-repeat;
  background-size: 1600px 1000px;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #000000;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
.neighborhood-guides {
    background-color:#00000;
    border-bottom:1px solid #dbdbdb;
    }
.neighborhood-guides h2 {
    color:#393c3d;
    font-size:24px;
    }
    
.neighborhood-guides p {
    font-size:15px;
    margin-bottom:13px;}
.body {
    background-color:#ffffff;}
  
    
    
    
    
    
